<div class="mt-color-picker" title="Pick color">
    <div class="form">
        <div class="form-group">
            <div class="col-lg-4">
                <div class="mt-color-indicator"/>
            </div>
        </div>
        <div class="mt-color-input form-group">
            <div class="input-group">
                <span class="input-group-addon" translate>COLOR</span>
                <input class="form-control" ng-model="color">
            </div>
        </div>
    </div>
    <div class="mt-color-set" style="padding: 0.5em;" ng-click="pickColor($event)">
    </div>
</div>