<div id="canvas-container" class="col-lg-12" ng-style="sceneBackground">
    <canvas id="main_canvas" active="tab.active" canvas-listener />
    <div id="labels-container" ng-controller="labelsController">
        <svg>
        <path ng-repeat="label in labels" mt-label-line="label" stroke="black" stroke-width="2" stroke-dasharray="5,5" fill="none">
        </svg>
        <mt-label ng-repeat="label in labels"/>
    </div>
    <div vis-side-menu="right" class="vis-side-menu" />
    <div vis-side-menu="left" class="vis-side-menu" />
</div>
